*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(129, 113, 89);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ajedrez{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 40%;
    height: 80%;
    border: 1px solid black;
    /* margin: 0 auto; */
}

.ajedrez>.fila1, .ajedrez>.fila2, .ajedrez>.fila3, .ajedrez>.fila4, .ajedrez>.fila5, .ajedrez>.fila6, .ajedrez>.fila7, .ajedrez>.fila8{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: cornflowerblue;
}

/************
    White
************/

.white{
    background-color: white;
    width: 100%;
    height: 100%;
}

/************
    Black
************/

.black{
    background-color: black;
    width: 100%;
    height: 100%;
}


/**************
  Media query
**************/

@media (max-width: 1360px){
    .ajedrez{
        max-width: 30%;
        max-height: 50%;
    }
}

@media (max-width: 1200px){
    .ajedrez{
        max-width: 35%;
        max-height: 50%;
    }
}

@media (max-width: 1000px){
    .ajedrez{
        max-width: 34%;
        max-height: 40%;
    }
}

@media (max-width: 800px){
    .ajedrez{
        max-width: 40%;
        max-height: 38%;
    }
}

@media (max-width: 700px){
    .ajedrez{
        max-width: 40%;
        max-height: 35%;
    }
}

@media (max-width: 600px){
    .ajedrez{
        max-width: 40%;
        max-height: 30%;
    }
}

@media (max-width: 550px){
    .ajedrez{
        max-width: 40%;
        max-height: 28%;
    }
}

@media (max-width: 400px){
    .ajedrez{
        max-width: 40%;
        max-height: 50%;
    }
}

@media (max-width: 450px){
    .ajedrez{
        max-width: 35%;
        max-height: 20%;
    }
}

@media (max-width: 375px){
    .ajedrez{
        max-width: 38%;
        max-height: 18%;
    }
}

@media (max-width: 360px){
    .ajedrez{
        max-width: 40%;
        max-height: 18%;
    }
}